* {
  margin:0;
  padding:0;
}
body {
  width:100%;
  margin:0;
  padding:0;
  font-size:16px;
  overflow-x:hidden;
  font-family: 'Montserrat', sans-serif;
}
.wow {
  visibility: hidden;
}
.main-h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 500;
  text-shadow: 1px 3px 5px black;
}
.title-h1 {
  color: #916BB7;
  font-weight: 500;
}
.label-h1 {
  font-size: 15px;
  font-weight: 400;
  color: rgb(113, 76, 150);
}
.main-p {
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.3em;
  font-weight: 400;
}
.description-p {
  font-size:1.5em;
  color: rgb(151, 129, 173);
  font-weight: 300;
}
.description-h {
  color: rgb(164, 164, 165);
  font-size: 1.7em;
  text-transform: uppcase;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
.text-center {
  text-align:center;
}
.content-post img {
  max-width: 100%;
}
.padded {
  padding: 3%;
}
.p-t {
  padding-top: 5%;
}
.p-b {
  padding-bottom: 5%;
}
.m-t {
  margin-top: 5%;
}
.m-s-t {
  margin-top: 3%;
}
.m-b {
  margin-bottom: 5%;
}
.overflow-hide {
  overflow: hidden;
}
.overlay-h1 {
  color:rgb(211, 163, 253);
  font-size: 1.5em;
  pointer-events: none;
}
.project-img {
  width:100%;
  height: 100%;
}
.npe {
  pointer-events: none;
}
.learn-more-block a.learn-more-img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.h-200 {
  height: 200px;
}
a.learn-more-img img {
  width: 100%;
}
.bg-purple {
  background: #f9f5fc;
}
.jobdesc-list {
  font-size: 13px;
  color: rgb(36, 0, 59);
}
.border-round {
  border-radius: 25px;
}


/* buttons */
.vector-button {
  padding: 5px 20px;
  background: rgb(73, 0, 133);
  /* border: 4px solid rgb(152, 45, 240); */
  background: linear-gradient(to right,#b570ff, #5c04bb);
  border: 0;
  border-radius: 40px;
  display: inline-block;
  transition: all 1s ease;
}
.vector-button:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.5);
}
.vector-button:active {
  background: linear-gradient(to right,#b570ff, #5c04bb);
}
.light-shadow {
  box-shadow: 2px 5px 45px rgb(31, 30, 30);
}
.project-button {
  background: rgb(197, 162, 231);
  font-size: 1.3em;
  /* color: white; */
  display:inline;
  border: 0.5px solid black;
  padding: 0.5% 3%;
  font-weight: 300;
  transition: box-shadow 0.7s ease;
}
.project-button:hover {
  cursor:pointer;
  box-shadow: 2px 4px 0 rgb(70, 42, 99);
}
.topbar-absolute {
  position: absolute;
  left: 20px;
  top: 20px; 
}
.artTileImg:hover {
    box-shadow: 10px 10px 45px rgb(63, 53, 73);
    transition: .5s ease;
}

/* sections */
#header {
  width:100%;
  height: 90vh;
  background: url('./assets/hero-img-small.png');
  background-size:cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 25px #c7c7c7;
}
#projects {
  margin-top: -1px;
  width:100%;
  transition: background-color 1s linear;
  /* background: url('./assets/projects.png');
  background-size: cover;
  background-attachment: fixed; */
}
#footer, .projects-bg {
  background: url('./assets/footer.png');
  background-size:cover;
  background-attachment: fixed;
}
#footer a {
  color: rgb(184, 147, 201);
}
#footer a i {
  color: rgba(255, 255, 255, 0.815);
}
#copyright {
  padding: 1% 3%;
  background: rgb(28, 20, 36);
  text-align:right;
}
#copyright p, .legal-text {
  margin:0 !important;
  color: rgba(255, 255, 255, 0.479);
}
.legal-text {
  transition: color 1s ease;
}
a.legal-text:hover {
  color: white;
  text-decoration: none;
}
#cta-form input, textarea {
  margin: 3% auto;
  background: rgba(184, 147, 201, 0.658);
  border:1px solid transparent;
  border-radius: 5px;
  width:100%;
}
#cta-form ::placeholder {
  color: rgba(253, 239, 253, 0.719);
  padding: 0 3%;
}
.slanted-border {
  height: 100px;
  border-top: 20px solid transparent;
  border-left: 100vw solid transparent;
  border-bottom: 100px solid #fbf7ff;
  transition: border-bottom 1s linear;
}

@media(min-width: 1025px) {
  .m-t-l {
    margin-top: 5rem;
  }
  .help-card {
    background: white;
    border-radius: 25px;
    box-shadow: 5px 5px 50px rgba(85, 72, 94, 0.445);
    margin-top: -100px;
  }
}
@media (max-width: 1200px) {
  #header{
    height: auto;
    background: url('./assets/media1200.png');
    background-size:cover;
    background-attachment: initial;
    padding-bottom :5%;
  }
  #footer a {
    font-size: 0.7em !important;
    white-space: nowrap;
  }
}
@media (max-width: 1100px) {
  .overlay p {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  #header{
    background: url('./assets/footer.png');
  }
  .help-card {
    margin-top: -50px;
    background: white;
    border-top-left-radius: 25px;
    border-top-right-radius:  25px;
  }
  .topbar-absolute {
    position: relative;
    top: auto;
    left: auto;
  }
  .m-t-l {
    margin-top: 3rem;
  }
  .main-h1{
    font-size: 2em;
  }
  .title-h1{
    font-size: 1.5em;
  }
  .description-p{
    font-size:1.2em;
  }
  .vector-button:hover{
    width:80;
  }
  .vector-button-2{
    width:60%;
  }
  .vector-button-2:hover{
    width:60%;
  }
  .border-round {
    border-radius: 0px;
  }
  .project-button{
    margin: 3%;
  }
  .overlay{
    display:none;
  }
  #header{
    padding-bottom: 20%;
  }
  #what-i-do{
    padding-top: 15%;
    padding-bottom:5%;
  }
  #what-i-do .description-h {
    margin-bottom: 30px;
  }
  #footer .main-h1{
    display:none;
  }
  #footer .overlay-h1{
    font-size:2em;
  }
  #footer a{
    font-size: 1em !important;
  }
  #footer .col-sm-4{
    margin-top: 5%;
  }
  #copyright{
    text-align:left;
    font-size: 0.8em;
  }
}
